<tr>
  <td class="align-middle"><%= badge.title %>  <%#= badge.parameter %></td>
  <td class="align-middle"><%= image_tag badge.image_url, size: "90x100" %></td>
  <td class="align-middle"><%= badge.formatted_created_at %></td>
</tr>
