<tr>
  <td class="text-center"><%= link_to gist.question.body.truncate(25), admin_question_path(gist.question) %></td>
  <td class="text-center"><%= link_to gist.gist_hash, gist.gist_url, target: '_blank' %></td>
  <td class="text-center"><%= gist.user.email %></td>
<tr>
