<% if object.errors.present? %>
  <div>
    <h2> <%= pluralize(object.errors.count, 'error' ) %> detected: </h2>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li> <%= message  %> </li>
      <% end %>
    </ul>
  </div>
<% end %>
