.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

input.invalid {
  border: 2px dashed red;
  background-image: linear-gradient(red, tomato);
}

input.valid {
  border: 2px solid black;
  background-image: linear-gradient(green, forestgreen);
}